@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Gupter|Noto+Sans+TC&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    overflow: scroll;
  }
}

.index {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/index.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

.index a {
  position: relative;
  top: -1000px;
  left: calc(50% - 160px);
  -webkit-animation: show;
          animation: show;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes show {
  0% {
    position: relative;
    top: -90px;
  }
  100% {
    top: calc(50% - 90px);
  }
}

@keyframes show {
  0% {
    position: relative;
    top: -90px;
  }
  100% {
    top: calc(50% - 90px);
  }
}

.index a img {
  width: 288px;
}

.index a img:hover {
  -webkit-animation: shine 0.2s linear infinite alternate;
          animation: shine 0.2s linear infinite alternate;
}

@-webkit-keyframes shine {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shine {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@media screen and (max-width: 1600px) {
  .index a {
    left: calc(50% - 120px);
  }
  .index a img {
    width: 240px;
  }
}

@media screen and (max-width: 1080px) {
  .index {
    z-index: 1;
  }
  .index a {
    left: calc(50% - 90px);
  }
  .index a img {
    width: 180px;
  }
  @-webkit-keyframes show {
    0% {
      position: relative;
      top: -90px;
    }
    100% {
      top: calc(50% - 60px);
    }
  }
  @keyframes show {
    0% {
      position: relative;
      top: -90px;
    }
    100% {
      top: calc(50% - 60px);
    }
  }
}

.disapear {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.all {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0;
  /* 進版時不顯示除了index以外的頁面 */
  /* 點擊logo後變更下列屬性 */
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.all .nav {
  position: fixed;
  top: 25%;
  left: 2%;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.all .nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -75px;
  left: 37px;
  z-index: 10;
}

.all .nav .logo img {
  width: 150px;
}

.all .nav .nav_list {
  background-color: #D0DA17;
}

.all .nav .nav_list li {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) inset;
  cursor: pointer;
  list-style: none;
  padding: 20px;
}

.all .nav .nav_list li:first-child {
  margin-top: 80px;
}

.all .nav .nav_list li a {
  font-size: 42px;
  font-family: "Bebas Neue", cursive;
  color: black;
  padding: 10px;
  position: relative;
}

.all .nav .nav_list li a:hover {
  text-decoration: none;
}

.all .nav .nav_list li a::after {
  content: '';
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left 0;
          transform-origin: left 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  visibility: hidden;
}

.all .nav .nav_list li a:hover::after {
  background: #D86E6E;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  visibility: visible;
}

.all .nav .nav_btn {
  display: none;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  border-radius: 10px;
  z-index: 10;
}

.all .nav .nav_btn span {
  position: absolute;
  background-color: white;
  width: 35px;
  height: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.all .nav .nav_btn .top_bar {
  top: 15px;
  left: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.all .nav .nav_btn .mid_bar {
  top: 28px;
  left: 15px;
  opacity: 1;
}

.all .nav .nav_btn .btm_bar {
  top: 41px;
  left: 15px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.all .nav .nav_btn .top_bar.rotate {
  top: 32.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.all .nav .nav_btn .mid_bar.rotate {
  opacity: 0;
}

.all .nav .nav_btn .btm_bar.rotate {
  top: 32.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.all .nav .mobile_nav {
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.all .nav .mobile_nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.all .nav .mobile_nav ul li {
  text-align: center;
  padding: 0;
}

.all .nav .mobile_nav ul li:first-child {
  margin-top: 100px;
}

.all .nav .mobile_nav ul li a {
  color: black;
  position: relative;
  display: block;
  text-decoration: none;
  padding: 15px;
  font-size: 42px;
  font-family: "Bebas Neue", cursive;
}

.all .nav .mobile_nav ul li a:hover {
  background-color: gray;
}

.all .nav .mobile_nav ul .social_media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all .nav .mobile_nav ul .social_media ul li {
  margin: 0;
}

.all .nav .mobile_nav ul .social_media ul li a img {
  width: 60px;
  margin: 0;
}

.all .nav .mobile_nav ul .phone {
  font-size: 32px;
  font-family: "Noto Sans TC", sans-serif;
}

.all .nav .mobile_nav ul .address {
  font-size: 32px;
  font-family: "Noto Sans TC", sans-serif;
}

.all .nav .mobile_nav ul .copyright {
  font-size: 32px;
  font-family: "Noto Sans TC", sans-serif;
}

@media (max-width: 576px) {
  .all .nav .mobile_nav ul li:first-child {
    margin-top: 80px;
  }
  .all .nav .mobile_nav ul li a {
    font-size: 38px;
    padding: 12px;
  }
  .all .nav .mobile_nav ul .phone {
    font-size: 28px;
  }
  .all .nav .mobile_nav ul .address {
    font-size: 28px;
  }
  .all .nav .mobile_nav ul .social_media ul li a img {
    width: 50px;
    margin: 0;
  }
  .all .nav .mobile_nav ul .copyright {
    font-size: 28px;
  }
}

@media (max-width: 414px) {
  .all .nav .mobile_nav ul li:first-child {
    margin-top: 80px;
  }
  .all .nav .mobile_nav ul li a {
    font-size: 36px;
  }
  .all .nav .mobile_nav ul .phone {
    font-size: 28px;
  }
  .all .nav .mobile_nav ul .address {
    font-size: 28px;
  }
  .all .nav .mobile_nav ul .social_media ul li a img {
    width: 50px;
    margin: 0;
  }
  .all .nav .mobile_nav ul .copyright {
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  .all .nav .mobile_nav ul li:first-child {
    margin-top: 60px;
  }
  .all .nav .mobile_nav ul li a {
    font-size: 32px;
  }
  .all .nav .mobile_nav ul .phone {
    font-size: 24px;
  }
  .all .nav .mobile_nav ul .address {
    font-size: 22px;
  }
  .all .nav .mobile_nav ul .social_media ul li a img {
    width: 40px;
    margin: 0;
  }
  .all .nav .mobile_nav ul .copyright {
    font-size: 24px;
  }
}

.all .nav .mobile_nav.rotate {
  opacity: 1;
  pointer-events: all;
}

.all .nav .nav_list li.active a::after {
  visibility: visible;
  background: #D86E6E;
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 1600px) {
  .all .nav {
    top: 30%;
    left: 1%;
  }
  .all .nav .logo {
    top: -50px;
    left: 45px;
  }
  .all .nav .logo img {
    width: 100px;
  }
  .all .nav .nav_list li {
    padding: 10px;
  }
  .all .nav .nav_list li:first-child {
    margin-top: 60px;
  }
  .all .nav .nav_list li a {
    font-size: 36px;
  }
}

@media (max-width: 1280px) {
  .all .nav {
    top: 26%;
    left: 1%;
  }
  .all .nav .logo {
    top: -50px;
    left: 30px;
  }
  .all .nav .nav_list li {
    padding: 10px;
  }
  .all .nav .nav_list li:first-child {
    margin-top: 60px;
  }
  .all .nav .nav_list li a {
    font-size: 30px;
  }
}

@media (max-width: 1080px) {
  .all .nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .all .nav .logo {
    top: 0px;
    left: calc(50% - 75px);
  }
  .all .nav .logo img {
    width: 150px;
  }
  .all .nav .nav_list {
    display: none;
  }
  .all .nav .nav_btn {
    display: block;
    position: fixed;
  }
}

.all .page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 2s;
  transition: 2s;
  background-color: #D5E7E6;
}

.all .page.hide {
  opacity: 0;
}

.all .remove {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.all .about {
  z-index: 5;
}

.all .about .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.all .about .row span {
  text-align: left;
}

.all .about .row span h1 {
  font-size: 53px;
  color: black;
  font-family: "Bebas Neue", cursive;
  line-height: 1.5;
}

.all .about .row span h1:first-child {
  margin-top: 40px;
}

.all .about .row span p {
  font-size: 32px;
  color: black;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 5px;
}

.all .about .row .photos {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .about .row .photos .swiper-container {
  max-width: 80%;
  max-height: 70%;
}

.all .about .row .photos .swiper-container img {
  height: 700px;
  width: 100%;
}

@media (max-width: 1800px) {
  .all .about .row span h1 {
    font-size: 45px;
  }
  .all .about .row span p {
    font-size: 28px;
  }
  .all .about .row .photos .swiper-container img {
    height: 500px;
    width: 700px;
  }
}

@media (max-width: 1610px) {
  .all .about .row span h1 {
    font-size: 42px;
  }
  .all .about .row span p {
    font-size: 26px;
  }
  .all .about .row .photos .swiper-container img {
    height: 500px;
    width: 700px;
  }
}

@media (max-width: 1440px) {
  .all .about .row .content span {
    padding: 5px;
  }
  .all .about .row .content span h1 {
    font-size: 40px;
  }
  .all .about .row .content span p {
    font-size: 24px;
    letter-spacing: 0;
    margin: 0;
  }
  .all .about .row .photos .swiper-container img {
    height: 400px;
    width: 80%;
  }
}

@media (max-width: 1366px) {
  .all .about .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 15px;
  }
  .all .about .row .content span h1 {
    font-size: 38px;
  }
  .all .about .row .content span p {
    font-size: 22px;
  }
}

@media (max-width: 1280px) {
  .all .about .row .content span h1 {
    font-size: 36px;
  }
  .all .about .row .content span p {
    font-size: 20px;
  }
}

@media (max-width: 1080px) {
  .all .about .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .all .about .row .content {
    max-width: 38%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38%;
            flex: 0 0 38%;
  }
  .all .about .row .content span h1 {
    font-size: 36px;
  }
  .all .about .row .content span p {
    font-size: 24px;
  }
  .all .about .row .photos {
    max-width: 58%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58%;
            flex: 0 0 58%;
    padding: 0;
  }
  .all .about .row .photos .swiper-container {
    max-width: 80%;
    max-height: 80%;
  }
  .all .about .row .photos .swiper-container img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .all .about .row {
    display: block;
  }
  .all .about .row .content {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 150px;
    padding: 0 100px;
    margin-bottom: 50px;
  }
  .all .about .row .content span h1 {
    font-size: 40px;
  }
  .all .about .row .content span p {
    font-size: 26px;
  }
  .all .about .row .photos {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0;
  }
  .all .about .row .photos .swiper-container {
    width: 100%;
  }
  .all .about .row .photos .swiper-container img {
    height: 400px;
    width: 100%;
  }
}

@media (max-width: 414px) {
  .all .about .row {
    display: block;
  }
  .all .about .row .content {
    padding: 0 50px;
  }
  .all .about .row .photos .swiper-container img {
    height: 300px;
  }
}

@media (max-width: 375px) {
  .all .about .row {
    display: block;
  }
  .all .about .row .content {
    padding: 0 50px;
  }
  .all .about .row .photos .swiper-container img {
    height: 200px;
  }
}

.all .corner {
  z-index: 4;
  width: 100%;
  height: 100%;
}

.all .corner .row {
  width: 100%;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.all .corner .row .content {
  width: 80%;
  text-align: left;
  margin: 178px 0 50px 420px;
}

.all .corner .row .content h1 {
  font-size: 53px;
  color: black;
  font-family: "Bebas Neue", cursive;
  line-height: 1.5;
}

.all .corner .row .content p {
  font-size: 32px;
  color: black;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

.all .corner .row .imgs {
  margin-left: 420px;
}

.all .corner .row .imgs .corner_swiper {
  height: 60%;
}

.all .corner .row .imgs .corner_swiper .swiper-slide img {
  width: 100%;
}

@media (max-width: 1600px) {
  .all .corner .row {
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .all .corner .row .content {
    width: 80%;
    text-align: left;
    margin: 178px 0 50px 300px;
  }
  .all .corner .row .imgs {
    margin-left: 300px;
  }
  .all .corner .row .imgs .corner_swiper {
    height: 60%;
  }
  .all .corner .row .imgs .corner_swiper .swiper-slide img {
    width: 100%;
  }
}

@media (max-width: 1366px) {
  .all .corner .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .all .corner .row .content {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .all .corner .row .content h1 {
    font-size: 48px;
  }
  .all .corner .row .content p {
    font-size: 30px;
  }
  .all .corner .row .imgs {
    margin-bottom: 50px;
  }
  .all .corner .row .imgs img {
    max-height: 200px;
  }
}

@media (max-width: 1080px) {
  .all .corner .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .all .corner .row .content {
    margin: 0;
    margin-top: 120px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .all .corner .row .content h1 {
    font-size: 40px;
  }
  .all .corner .row .content p {
    font-size: 26px;
  }
  .all .corner .row .imgs {
    margin: 0;
  }
  .all .corner .row .imgs .swiper-container {
    height: 50%;
  }
  .all .corner .row .imgs .swiper-container .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
  }
}

@media (max-width: 768px) {
  .all .corner .row .content {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 100px;
    margin-bottom: 50px;
  }
  .all .corner .row .content h1 {
    font-size: 40px;
  }
  .all .corner .row .content p {
    font-size: 26px;
  }
  .all .corner .row .imgs {
    max-width: 80%;
    padding: 50px;
  }
  .all .corner .row .imgs .swiper_container {
    max-height: 100%;
  }
  .all .corner .row .imgs .swiper_container img {
    height: 150px;
  }
}

@media (max-width: 576px) {
  .all .corner .row {
    margin: 0;
  }
  .all .corner .row .content {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 100px;
    margin-bottom: 50px;
  }
  .all .corner .row .content h1 {
    font-size: 40px;
  }
  .all .corner .row .content p {
    font-size: 26px;
  }
  .all .corner .row .imgs {
    max-width: 100%;
    padding: 50px;
  }
  .all .corner .row .imgs .corner_swiper .swiper-wrapper .swiper-slide img {
    max-height: 357px;
  }
}

@media (max-width: 414px) {
  .all .corner .row {
    margin: 0;
  }
  .all .corner .row .content {
    padding: 0 50px;
  }
  .all .corner .row .imgs {
    max-width: 100%;
    padding: 50px;
  }
  .all .corner .row .imgs .corner_swiper .swiper-wrapper .swiper-slide img {
    max-height: 200px;
  }
}

.all .product {
  z-index: 3;
}

.all .product .row {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .product .row .card {
  border: none;
  margin-right: 40px;
  padding: 0;
}

.all .product .row .card img {
  text-align: center;
}

.all .product .row .card .card-body {
  text-align: center;
}

.all .product .row .card .card-body h5 {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  line-height: 48px;
}

.all .product .row .card .card-body p {
  font-size: 28px;
  font-family: "Noto Sans TC", sans-serif;
}

.all .product .row .card .card-body #melon_btn {
  background-color: #FAD524;
}

.all .product .row .card .card-body #tomato_btn {
  background-color: #DB2426;
}

.all .product .row .card .card-body #pepper_btn {
  background-color: #408600;
}

@media (max-width: 1610px) {
  .all .product .row .card .card-body h5 {
    font-size: 36px;
    line-height: 1.5;
  }
  .all .product .row .card .card-body p {
    font-size: 24px;
  }
}

@media (max-width: 1430px) {
  .all .product .row .card .card-body h5 {
    font-size: 32px;
    line-height: 1.5;
  }
  .all .product .row .card .card-body p {
    font-size: 20px;
  }
}

@media (max-width: 1366px) {
  .all .product {
    padding-bottom: 60px;
  }
}

@media (max-width: 1280px) {
  .all .product .row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 90px;
  }
}

@media (max-width: 1080px) {
  .all .product .row {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .all .product .row .card:nth-child(3) {
    margin-right: 0;
  }
  .all .product .row .card .card-body h5 {
    font-size: 32px;
    line-height: 1.5;
  }
  .all .product .row .card .card-body p {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .all .product .row .card .card-body p {
    display: none;
  }
}

@media (max-width: 768px) {
  .all .product .row {
    margin-top: 0px;
  }
}

@media (max-width: 576px) {
  .all .product .row .card {
    margin-top: 30px;
    margin-right: 0;
  }
}

.all .news {
  z-index: 2;
}

.all .news .inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 30px 100px;
}

.all .news .inner .grid {
  position: relative;
  margin-left: 350px;
}

.all .news .inner .grid .item {
  display: block;
  position: absolute;
  margin: 15px;
  z-index: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.all .news .inner .grid .item img {
  width: 100%;
}

.all .news .inner .grid .item.muuri-item-dragging {
  z-index: 3;
}

.all .news .inner .grid .item.muuri-item-releasing {
  z-index: 2;
}

.all .news .inner .grid .item.muuri-item-hidden {
  z-index: 0;
}

.all .news .inner .grid .item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 1600px) {
  .all .news .inner .grid {
    margin-left: 250px;
  }
}

@media (max-width: 1280px) {
  .all .news .inner .grid {
    margin-left: 250px;
  }
}

@media (max-width: 1080px) {
  .all .news .inner .grid {
    margin-left: 50px;
    margin-top: 170px;
  }
}

@media (max-width: 768px) {
  .all .news .inner {
    padding: 25px 50px;
  }
  .all .news .inner .grid {
    margin-left: 30px;
    margin-top: 0px;
  }
}

@media (max-width: 576px) {
  .all .news .inner {
    padding: 0;
  }
  .all .news .inner .grid .item {
    margin: 5px;
  }
}

.all .shopping_cart {
  position: fixed;
  top: 75px;
  right: 139px;
  z-index: 10;
}

.all .shopping_cart img {
  width: 65px;
}

@media (max-width: 1800px) {
  .all .shopping_cart {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

@media (max-width: 1080px) {
  .all .shopping_cart {
    top: 10px;
    right: 90px;
  }
}

@media (max-width: 414px) {
  .all .shopping_cart {
    top: 600px;
    right: 10px;
  }
}

@media (max-width: 375px) {
  .all .shopping_cart {
    top: 530px;
  }
}

.all .fixed_cart {
  position: fixed;
  right: 10px;
  top: 750px;
}

@media (max-width: 576px) {
  .all .fixed_cart {
    top: 650px;
    z-index: 11;
  }
}

@media (max-width: 414px) {
  .all .fixed_cart {
    top: 600px;
    z-index: 11;
  }
}

@media (max-width: 375px) {
  .all .fixed_cart {
    top: 530px;
    z-index: 11;
  }
}

.all .footer {
  width: 100%;
  /* height:; */
  background-color: cadetblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 3%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.all .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
}

.all .footer ul li {
  list-style: none;
  padding: 20px;
}

.all .footer ul li a {
  text-decoration: none;
}

.all .footer ul .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .footer ul .phone img {
  width: 26px;
  margin-right: 25px;
}

.all .footer ul .phone p {
  font-size: 53px;
  line-height: 64px;
  font-family: "Gupter", serif;
  margin: 0;
}

.all .footer ul .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all .footer ul .address img {
  width: 25px;
  height: 29px;
  margin-right: 25px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.all .footer ul .address p {
  font-size: 48px;
  line-height: 57px;
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
}

.all .footer ul .social_media li {
  padding: 0;
}

.all .footer ul .social_media .facebook img {
  width: 58px;
}

.all .footer ul .social_media .line img {
  width: 58px;
}

.all .footer ul .social_media .instagram img {
  width: 58px;
}

.all .footer ul .copyright p {
  font-size: 24px;
  font-family: "Gupter", serif;
  margin-bottom: 0;
  margin-top: 30px;
}

@media (max-width: 1800px) {
  .all .footer ul .phone p {
    font-size: 45px;
    line-height: 50px;
    font-family: "Gupter", serif;
    margin: 0;
  }
  .all .footer ul .address p {
    font-size: 40px;
    line-height: 50px;
    font-family: "Noto Sans TC", sans-serif;
    margin: 0;
  }
}

@media (max-width: 1520px) {
  .all .footer {
    padding: 5px 10px;
  }
  .all .footer ul .phone img {
    margin-right: 10px;
  }
  .all .footer ul .phone p {
    font-size: 40px;
  }
  .all .footer ul .address img {
    margin-right: 10px;
  }
  .all .footer ul .address p {
    font-size: 36px;
  }
  .all .footer ul .social_media .facebook img {
    width: 50px;
  }
  .all .footer ul .social_media .line img {
    width: 50px;
  }
  .all .footer ul .social_media .instagram img {
    width: 50px;
  }
  .all .footer ul .copyright p {
    font-size: 20px;
  }
}

@media (max-width: 1366px) {
  .all .footer {
    padding: 5px 10px;
  }
  .all .footer ul li {
    padding: 10px;
  }
}

@media (max-width: 1280px) {
  .all .footer ul li {
    padding: 10px;
  }
  .all .footer ul .phone img {
    width: 20px;
  }
  .all .footer ul .phone p {
    font-size: 34px;
  }
  .all .footer ul .address img {
    width: 20px;
    height: 26px;
  }
  .all .footer ul .address p {
    font-size: 30px;
  }
}

@media (max-width: 1190px) {
  .all .footer ul .phone img {
    width: 20px;
  }
  .all .footer ul .phone p {
    font-size: 32px;
  }
  .all .footer ul .address img {
    width: 20px;
    height: 26px;
  }
  .all .footer ul .address p {
    font-size: 28px;
  }
}

@media (max-width: 1080px) {
  .all .footer {
    display: none;
  }
}

@media (max-width: 768px) {
  .all .footer {
    display: block;
    position: relative;
  }
  .all .footer ul .phone {
    max-width: 18%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18%;
            flex: 0 0 18%;
  }
  .all .footer ul .phone p {
    font-size: 24px;
  }
  .all .footer ul .address {
    max-width: 42%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
  }
  .all .footer ul .address p {
    font-size: 20px;
  }
  .all .footer ul .social_media {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .all .footer ul .social_media ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .all .footer ul .social_media img {
    width: 40px;
  }
  .all .footer ul .copyright {
    max-width: 15%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }
  .all .footer ul .copyright p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .all .footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .all .footer .row .phone {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .all .footer .row .phone p {
    font-size: 36px;
  }
  .all .footer .row .address {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .all .footer .row .address p {
    font-size: 30px;
  }
  .all .footer .row .social_media {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .all .footer .row .social_media ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .all .footer .row .social_media img {
    width: 40px;
    margin-left: 30px;
  }
  .all .footer .row .copyright {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .all .footer .row .copyright p {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .all .footer .row .address p {
    font-size: 28px;
  }
  .all .footer .row .social_media img {
    width: 40px;
    margin-left: 30px;
  }
  .all .footer .row .copyright p {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 375px) {
  .all .footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .all .footer .row .phone {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .all .footer .row .phone p {
    font-size: 36px;
  }
  .all .footer .row .address {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .all .footer .row .address p {
    font-size: 22px;
  }
  .all .footer .row .social_media {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .all .footer .row .social_media ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .all .footer .row .social_media img {
    width: 40px;
    margin-left: 20px;
  }
  .all .footer .row .copyright {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .all .footer .row .copyright p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .all {
    height: auto;
    overflow: hidden;
  }
  .all .page {
    position: relative;
    z-index: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .all .remove {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .all .product {
    padding: 50px;
  }
}

.modal .modal-content .modal-header h5 {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
}

.modal .modal-content .modal-header p {
  font-size: 32px;
  font-family: "Noto Sans TC", sans-serif;
}

.modal .modal-content .modal-body img {
  width: 300px;
}

@media (max-width: 576px) {
  .modal .modal-content .modal-header h5 {
    font-size: 40px;
    font-family: "Bebas Neue", cursive;
  }
  .modal .modal-content .modal-header p {
    font-size: 32px;
    font-family: "Noto Sans TC", sans-serif;
  }
  .modal .modal-content .modal-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modal .modal-content .modal-body img {
    width: 300px;
    margin-bottom: 15px;
  }
}

.show {
  opacity: 1;
  pointer-events: all;
}

.backToTop {
  display: none;
  background: url("../img/back_to_top.jpg") center/cover no-repeat;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: fixed;
  bottom: 120px;
  right: 10px;
  z-index: 99;
}

@media (max-width: 576px) {
  .backToTop {
    bottom: 150px;
  }
}

.backToTop.bump {
  display: block;
}
/*# sourceMappingURL=project_style.css.map */